<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/views/css/style.css">
    <title>Khalifa's Portfolio</title>
</head>
<body>
    <header aria-label="navigation" role="navigation" aria-setsize="min-width = 600px">
        <div class="profile-container"></div>
        <div class="experience" aria-label="experience">
            <p class="yearsOfXp" aria-label="years of experience">2</p>

            <p class="yearsOfXpSt">Years of esperience</p>
        </div>
        <nav>
            <ul>
                <li><a class="nav-link active" href="#" onclick="route()">Home</a> </li>
                <li><a class="nav-link" href="#portfolio">Portfolio</a> </li>
                <li><a class="nav-link" href="./about.html" onclick="route()">About Me</a></li>
                <li><a class="nav-link" href="#contact">Contact</a></li>
            </ul>

            <a href="./hireme.html" onclick="route()" class="btn">Hire Me</a>
            
        </nav>
        <h1 aria-label="presentation" class="presentation">My name <br> is <strong aria-label="my name" class="myName">Khalifa A.   BEYE</strong></h1>
        <h2 aria-label="my role" class="myRole">I am a Junior Front-end Developer</h2>

    </header>
    <section aria-label="main skills" class="mainSkills">
        <div class="skills" id="html">HTML</div>
        <div class="skills" id="css">CSS</div>
        <div class="skills" id="php">PHP</div>
        <div class="skills" id="js">JavaScript</div>
    </section>
    <main id="main-page">

    </main>   

<script src="/controller/js/router.js"></script>
</body>
</html>